<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 xmlns:th="http://www.thymeleaf.org" th:fragment="header">
<head>
<title>Page 1 Title</title>

<meta charset="UTF-8" />
 <!-- Required meta tags -->
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

 <!-- Bootstrap CSS -->
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{~/css/header.css}"/>
<script type="text/javascript" th:src="@{~/js/jquery-1.8.2.min.js}"></script>
<script type="text/javascript" th:src="@{~/js/jquery-ui_1.12.1.js}"></script>
<script type="text/javascript" th:src="@{~/js/jquery.js}"></script>
<!-- Other javascript, css source files -->
 <script th:inline="javascript" type="text/javascript">

		$(document).ready(function () {

	
		});
	</script>
</head>
<body>
	<header>
		 <nav class="navbar navbar-expand-lg fixed-top py-3">
        <div class="container"><a th:href="@{/home}" class="navbar-brand text-uppercase font-weight-bold">ELEARNING</a>
            <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>
            
            <div id="navbarSupportedContent" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a th:href="@{/home}" class="nav-link text-uppercase font-weight-bold">Home <span class="sr-only">(current)</span></a></li>
                    <li class="nav-item"><a th:href="@{/account}" class="nav-link text-uppercase font-weight-bold">Account</a></li>
                    <li class="nav-item"><a th:href="@{/course}" class="nav-link text-uppercase font-weight-bold">Course</a></li>
                    <li class="nav-item"><a th:href="@{/buying}" class="nav-link text-uppercase font-weight-bold">Shopping</a></li>
                    <li class="nav-item"><a th:href="@{/setting}" class="nav-link text-uppercase font-weight-bold">Setting</a></li>
                    <li class="nav-item"><a th:href="@{/manager}" class="nav-link text-uppercase font-weight-bold">Manager</a></li>
                    <li class="nav-item"><a th:href="@{/logout}" class="nav-link text-uppercase font-weight-bold">LogOut</a></li>
                </ul>
                
            </div>
        </div>
    </nav>
	</header>
</body>
</html>