<!DOCTYPE html>
<html  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>show deteil course</title>
         <script type="text/javascript" th:src="@{~/js/jquery-1.8.2.min.js}"></script>
	     <script type="text/javascript" th:src="@{~/js/jquery-ui_1.12.1.js}"></script>
	     <script type="text/javascript" th:src="@{~/js/jquery.js}"></script>
	     <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>

       
            
            .div_left{
            
            width: 40%;
      
            float: left;
            
          
            
            }
            
            .div_right{
            
            width: 60%;
            
            float: left;
            
        
            
          }
            
</style>
   	<script th:inline="javascript" type="text/javascript">

	$(document).ready(function(){
		var a = $("#show").text();
		if($("#check").text()  == "false"){
			swal("You cant delete because it is not use you", {
					icon: "warning",
				});
				return false;
	        $("#check").text("");
		}
	
	

      });
      
	</script>
   
   
    </head>
    <body>
   <header th:replace="fragment/header:: header">
   </header>
  <div style="width:100%;height:670px ;padding-top: 100px;">
       <h1 >List Your Course</h1>
		<ul>
		

			<!--Duyệt qua toàn bộ phần tử trong biến "todoList"-->
			

			<div class="row">
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>No</th>
							<th>NameCourse</th>
							<th>Desciption</th>
							<th>Edit</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="listCourse : ${listCourse}">
							<td th:text="${listCourse.id}"></td>
							<td th:text="${listCourse.name}"></td>
							<td th:text="${listCourse.description}"></td>
							<td><a><span
									class="glyphicon glyphicon-pencil"></span></a></td>
							<td><a th:href="@{'/course/deleteById/'+${listCourse.createBy}+'?id='+${listCourse.id}}"><span>delete</span></a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div>
				<ul class="pagination" style="float: inline-end;">
			<li
				th:class="${currentIndex == 1}? 'page-item disabled' : 'page-item'">
				<a class="page-link" th:href="@{/course/showdetailCourse/1}">First</a>
			</li>
			<li
				th:class="${currentIndex == 1}? 'page-item disabled': 'page-item' ">
				<a class="page-link" aria-label="Previous"
				th:href="@{|${baseUrl}${currentIndex - 1}|}"
				title='Go to previous page'><span aria-hidden="true">«</span>
					<span class="sr-only">Previous</span></a>
			</li>
			<li th:each="item : ${#numbers.sequence(beginIndex,endIndex)}"
				th:class="${item == currentIndex ? 'page-item active' :'page-item' }">
				<a class="page-link" th:href="@{|${baseUrl}${item}|}"> <span
					th:text='${item}'>1</span>
			</a>
			</li>
			<li
				th:class="${currentIndex == totalPageCount}? 'page-item disabled': 'page-item'">
				<a class="page-link" aria-label="Next"
				th:href="@{|${baseUrl}${currentIndex + 1}|}" title='Go to next page'><span
					aria-hidden="true">»</span> <span class="sr-only">Next</span></a>
			</li>
			<li
				th:class="${currentIndex == totalPageCount}? 'page-item disabled':'page-item'">
				<a class="page-link" th:href="@{|${baseUrl}${totalPageCount}|}">Last</a>
			</li>
		</ul>
			</div>
			<span th:text="*{check}" id= "check" style="display: none;"><span>
			
		

		
</div>





  
  <footer th:replace="fragment/footer:: footer" ></footer>
 
 
</body>
    
    
</html>