<!DOCTYPE html>
<html  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Home</title>
         <script type="text/javascript" th:src="@{~/js/jquery-1.8.2.min.js}"></script>
	     <script type="text/javascript" th:src="@{~/js/jquery-ui_1.12.1.js}"></script>
	     <script type="text/javascript" th:src="@{~/js/jquery.js}"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   	<script th:inline="javascript" type="text/javascript">

	$(document).ready(function(){
		
		if($('#emailReal').text() != $('#emailFake').text()){
			
			document.getElementById("editButton").style.display="none";
		}
	

      });
	</script>
   
   
    </head>
    <body>
   <header th:replace="fragment/header:: header">
   </header>
   
  
<div style="width:750px;height:670px">
	<h5 style="padding-top: 90px; padding-left: 15px;"> 1.My Account
	</h5>
	<span th:text = "${emailReal}" style="display: none;" id ="emailReal"></span>
	
	<div style="padding: 10px;">
	<div class="container">
    <div class="main-body">
   
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                  <a th:href="@{'/img/' + ${avatar}+'.jpg'}" />
                   <img th:src="@{'/img/' + ${avatar}+'.jpg'}" alt="Admin" class="rounded-circle" width="120">
                    <div class="mt-3">
                   <a>
                      <h4><span th:text = "${fullname}"></span></h4>
                      <p class="text-secondary mb-1">Full Stack Developer</p>
                      <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>
                      <button class="btn btn-primary">Follow</button>
                      <button class="btn btn-outline-primary">Message</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <span th:text = "${fullname}"></span>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                       <span th:text = "${email}" id="emailFake"></span>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Phone</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                       <span th:text = "${phone}"></span>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Status</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <span th:text = "${status}"></span>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Address</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <span th:text = "${address}"></span>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-12">
                      <a class="btn btn-info " target="__blank" href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills"  id = "editButton">Edit</a>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>

        </div>
        </div>
    </div>
</div>

  
   <footer th:replace="fragment/footer:: footer"></footer>
      
 
    </body>
    
    
</html>